
@font-face{
  font-family: "TOLSTYAK Heavy";
  src: url("fonts/TOLSH.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: "Huntsman";
  src: url("fonts/Huntsman.otf");
}

h2,h1{
  font-family: 'TOLSTYAK Heavy';
}

header {
	display: block; /* Для старых браузеров */
	height: 65px; /* Высота шапки */
	background: #ffabff;
	text-align: center;
}

footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #ffabff; /* Цвет фона */
    color: black; /* Цвет текста */
    width: 100%; /* Ширина слоя */
   }
#logo{
	width: 50px;
	height: 50px;
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	background: url('images/logo.svg') no-repeat;
	background-size: contain;
}


#CompanyName{
	font-family: "Huntsman", sans-serif;
	float: left;
	margin-top: 10px;
	margin-left: 15px;
	font-size: 25px;
	line-height: 50px;
	color: black;

}

p, span, input {
 font-size:30px;
}
button{
    font-size:18px;
    background-color: #ab3fbc; /* Green */
    border: 1px solid rgb(74.587, 0, 153);
    color: white;
}

button.crug{
	margin: 0; padding: 0; border: 0; outline: none; background-color: transparent;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	margin: 125px 0 0 125px;
}

button.cite:hover {
background: radial-gradient(farthest-side ellipse at top left, white, #c4c2c2);
}

button.cite:active {
  background: radial-gradient(farthest-side ellipse at top left, #eb7fff, #c56bd6);
-moz-box-shadow:0 0 20px #67cc00;
-webkit-box-shadow:0 0 20px #67cc00;
box-shadow:0 0 20px #67cc00;
}

#footer-social-menu {
    text-align: right;
    color: #006;
    position: fixed; /* Фиксированное положение */
    right: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px;
}
body {   
/* Местоположение фоновой картинки */   background-image: url("images/lego.jpg");      
/* Фоновое изображение выровнено по центру в горизонтальной и вертикальной плоскостях */   background-position: center center;      
/* Фон не повторяется */   background-repeat: no-repeat;      
/* Фон зафиксирован в области просмотра и потому не двигается, когда высота контента превышает высоту изображения */   background-attachment: fixed;      
/* Это свойство заставляет фон менять масштаб при изменении размеров содержащего его контейнера*/   background-size: cover;      
/* Цвет фона, который будет отображаться при загрузке фоновой картинки*/   background-color: #464646; }
.menu-main {
  list-style: none;
  margin: 40px 0 5px;
  padding: 25px 0 5px;
  text-align: center;
  background: #ffabff;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: black;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: black;}
.menu-main a.current, .menu-main a:hover{color: white;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}
